@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --body-color: #e4e9f7;
    --nav-color: #83CF48;
    --side-nav: #010718;
    --text-color: #fff;
    --search-bar: #f2f2f2;
    --search-text: #010718;
}

body{
    min-height: 100vh;
    width: 100%;
    /* background: #EEECEB; 
    background-image: url(image/promotional.png); */
}

body nav .header a img{
    height: 150px;
    width : 200px;
    margin-top: 15px;
    margin-left: -200px;
    margin-bottom: 10px;
} 

/* Search bar */
.menu-links .input-box{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 120px;
}

.input-box{
    position: relative;
    right: 35px;
    height: 3px;
    width: 420px;
    max-width: 900px;
    background: white;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}

.input-box i,
.input-box .button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i{
    left: 20px;
    font-size: 30px;
    color: #707070;
}

.input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.input-box .button{
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 30px;
    background-color: #83CF48;
    cursor: pointer; 
}

.input-box .button.clicked{
    transform: translateY(-50%) scale(0.98);
}


/* Menu link */
nav{
    position: flex;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: var(--nav-color);
    overflow: hidden;
}

nav .header{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header .menu-links{
    display: flex;
    align-items: center;
}

.header .menu-links li{
    margin: 0 10px;
    list-style: none; 
}

.menu-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 5px;
    right: 150px;
} 

.menu-links li a.active{
    border-bottom: 2px solid white;
}

.menu-links li a:hover{
    border-bottom: 2px solid white;
}

.menu-links li a::before{
    position: absolute;
}


/* Navigation */
ul .navigation{
    display: flex;
    list-style: none;
}

.login-btn .login-popup{
    width: 100px;
    height: 40px;
    background: white;
    color: var(--nav-color);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid #fff;
    transition: .5s;
}

.login-btn .login-popup:hover{
    background: transparent;
    color: white;   
    border-bottom: 0;
}

/* Main Image */

aside .main-image img{
    height: 500px;
    width: 27%;
    margin-top: 15px;
    margin-left: 10px;
}

/* Side Image */
aside .side-image img{
    height: 10%;
    width: 8%;
    margin-top: 15px;
    margin-left: 10px;
}

/* Share Social Media */
aside .socials{
    margin-left: 10px;
}

aside .socials p{
    font-weight: 500;
    font-size: 20px;
}

aside .socials p a{
    background-color: red;
    margin: 0 5px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    transition: all 0.4s ease;
}

aside .socials p a:nth-child(1){
    color: #4267B2;
    background: white;
}

/* article .socials p a:nth-child(1):hover{
    color: #4267B2;
    background: white;
} */

aside .socials p a:nth-child(2){
    color: #1DA1F2;
    background: white;
}

aside .socials p a:nth-child(3){
    color: #E1306C;
    background: white;
}

aside .socials p a:nth-child(4){
    color: #25D366;
    background: white;
}

aside .heart-icon{
    display: flex;
    margin-left: 10px;
}

aside .heart-icon h3{
    font-size: 20px;
}

aside .heart-icon i{
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 24px;
}

aside .heart-icon i:hover{
    color: red;
}

aside .heart-icon p{
    margin-top: 3px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 20px;
}

/* Bar */
hr{
    border: 5px solid #eae6e6
}

/* Deskripsi produk */
main{
    float: right;
}

main p a{
    text-decoration: none;
}

main h1{
    margin-top: -730px;
    margin-right: 250px; 
    font-size: 60px;
    font-weight: 600;
}

main .rating i{
    color: #ff8c00;
    font-size: 28px;
    margin-left: 5px;
    margin-bottom: 5px;
}

main p{
    margin-top: 10px;
    margin-left: 10px;
}

main h3{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
}

main h3 span{
    color: red;
    margin-left: 10px;
    font-size: 15px;
}

.quantity{
    display: flex;
    height: 50px;
    max-width: 300px;
    background: #f2f2f2;
    border-radius: 8px;
    margin-left: 190px;
    margin-top: 10px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.quantity span{
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    justify-content: space-between;
    cursor: pointer;
}

.quantity p{
    font-size: 35px;
    margin-bottom: 7px;
    margin-right: 5px;
    color: var(--nav-color);
}

.quantity span .num{
    pointer-events: none;
}

/* Tombol beli */
main .add-cart{
    float: left;
    margin-left: 6px; 
    margin-top: 40px;
}

main .add-cart a button{
    background: white;
    width: 190px;
    height: 60px;
    color: var(--nav-color);
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid var(--nav-color);
    transition: .5s;
}

main .buy-now{
    float: right;
    margin-right: 200px;
    margin-top: 40px;
}

main .buy-now a button{
    background: var(--nav-color);
    width: 190px;
    height: 60px;
    color: var(--text-color);
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    border: 2px solid var(--nav-color);
    transition: .5s;
}

/**/
.spec-product h2{
    margin-left: 10px;
    margin-bottom: 15px;
}

.spec-product p{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.desc-product h2{
    margin-left: 10px;
    margin-bottom: 15px;
}

.desc-product p{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    max-width: 900px;
} 

/* Iklan */
.ads-image img{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 170px; 
}

/* Footer  */
footer{
    position: flex;
    background-color: #26B947;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer::before{
    content: '';
    position: absolute;
    left: 0;
    margin-top: 100px;
    height: 3px;
    width: 100%;
    background: #AFAFB6;
}

footer .foot-content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .foot-content .foot-top{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.foot-content .foot-top .logo-details{
    color: #fff;
    font-size: 30px;  
}

.foot-content .foot-top .media-icons{
    display: flex;
}

.foot-content .foot-top .media-icons p{
    color: #fff;
    font-size: 30px;
}

.foot-content .foot-top .media-icons a{
    height: 40px;
    width: 40px;
    background-color: red;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.foot-top .media-icons a:nth-child(2){
    background: #4267B2;
}

.foot-top .media-icons a:nth-child(2):hover{
    color: #4267B2;
    background: white;
}

.foot-top .media-icons a:nth-child(3){
    background: #1DA1F2;
}

.foot-top .media-icons a:nth-child(3):hover{
    color: #1DA1F2;
    background: white;
}

.foot-top .media-icons a:nth-child(4){
    background: #E1306C;
}

.foot-top .media-icons a:nth-child(4):hover{
    color: #E1306C;
    background: white;
}

.foot-top .media-icons a:nth-child(5){
    background: #0077B5;
}

.foot-top .media-icons a:nth-child(5):hover{
    color: #0077B5;
    background: white;
}

.foot-top .media-icons a:nth-child(6){
    background: #FF0000;
}

.foot-top .media-icons a:nth-child(6):hover{
    color: red;
    background: white;
}

footer .foot-content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

footer .foot-content .link-boxes .box{
    width: calc(100% / 4 - 10px);
}

.foot-content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.foot-content .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.foot-content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
}

.foot-content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
}

.foot-content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
}

footer .bottom-details{
    margin: auto;
    width: 100%;
    background: darkcyan/*#0f0844*/;
}

footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a{
    margin-right: 10px;
}

/* Responsive*/
@media (max-width: 900px){
    footer .foot-content .link-boxes{
        flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px){
    footer{
        position: relative;
    }
    footer::before{
        top: 30px;
    }
    .foot-content .foot-top .logo-details{
        font-size: 26px;  
    }
    .foot-content .foot-top .media-icons a{
        height: 40px;
        width: 40px;
        font-size: 14px;
        line-height: 35px;
    }
    .foot-content .foot-top .media-icons p{
        font-size: 26px;
    }
}
