@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --body-color: #e4e9f7;
    --nav-color: #83CF48;
    --side-nav: #010718;
    --text-color: #fff;
    --search-bar: #f2f2f2;
    --search-text: #010718;
}

body{
    min-height: 100vh;
    width: 100%;
    background: #EEECEB;
}

body nav .header a img{
    height: 150px;
    width : 200px;
    margin-top: 15px;
    margin-left: -200px;
    margin-bottom: 10px;
} 

/* Menu link */
nav{
    position: flex;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: var(--nav-color);
    overflow: hidden;
}

nav .header{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav .header h3{
    color: #fff;
    margin-right: 980px;
}

h2{
    font-size: 100px;
    margin-left: 500px;
    margin-top: 50px;
}

h5{
    margin-left: 330px;
    font-size: 20px;
}

body .umur h5{
    margin-left: 370px;
    color: limegreen;
}

form .input-form input{
    height: 100%;
    width: 50%;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #c7bebe;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

form .input-form.button{
    padding-left: 400px;
}

.input-form input:focus,
.input-form input:valid{
    border-color: var(--nav-color);
}

.input-form.button input{
    color: white;
    letter-spacing: 1px;
    border: none;
    background: var(--nav-color);
    cursor: pointer;
}

form .input-form.button input:hover{
    background: #99cd72
}